.git
.gitignore
.gcloudignore
.dockerignore
venv/
.venv/
env/
functions/venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.flaskenv
instance/
dummy.db
firebase-debug.log
.firebaserc
node_modules/
*.tar.gz
