# Entornos virtuales de Python
venv/
.venv/
env/
.env
.env.*
!.env.example
.flaskenv
.cloudrun.env
.cloudrun.env.yaml

# Ficheros de cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheros de sistema operativo
.DS_Store
desktop.ini

# Datos locales y logs
instance/
functions/
firebase-debug.log

seed_data.json
